In [1]:
import pandas as pd

In [2]:
df=  pd.read_csv("cif_masked.csv")
df.head()

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,preferredphone,preferredname,preferredemail,email,gender,name,pan
0,DLNIND4568821,R01562055,Duman,Narayan,Neupane,+977-9833330190,Duman Narayan Neupane,ARYALPRABAL@GMAIL.COM,duman492@gmail.com,M,Duman Narayan Neupane,PAN714271279
1,DLNIND7235296,R01911512,Prajina,Devi,Maharjan,+977-9892307589,Prajina Devi Maharjan,na@nicasiabank.com,prajina427@gmail.com,F,Prajina Devi Maharjan,PAN503838478
2,DLNIND1406504,R02944296,Humacanta,Bipin,Thapa,+977-9856818453,Humacanta Bipin Thapa,dipeshshah4000@gmail.com,humacanta862@gmail.com,M,Humacanta Bipin Thapa,PAN668645879
3,DLNLEG6218579,C00038863,KHOTANG FOODS PVT. LTD.,NaN,NaN,+977-9862721402,MANASLU HOSPITALITY PVT. LTD.,NaN,khotangfoods840@outlook.com,NaN,KHOTANG FOODS PVT. LTD.,PAN533918346
4,DLNIND1255130,R01651971,Adarsh,Bhakta,Lama,+977-9810013657,Adarsh Bhakta Lama,BINODRAYEE@GMAIL.COM,adarsh904@gmail.com,M,Adarsh Bhakta Lama,PAN331700070

In [6]:
df_acc = pd.read_csv("account_masked.csv")
print(df_acc.columns)

Index(['cif_id', 'cust_first_name', 'cust_middle_name', 'cust_last_name',
       'cust_dob', 'cust_type', 'gender', 'education', 'pan', 'email',
       ...
       'creditbureauscorevalidity', 'foreignacctaxreportingreq',
       'foreigntaxreportingstatus', 'preferred_mobile_alert_no',
       'credithistoryrequestedflag', 'foreigntaxreportingcountry',
       'customer_level_provisioning', 'preferred_mobile_alert_type',
       'updated_at', 'group_id'],
      dtype='object', length=489)