In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('tf_txt_main_table.xlsx')
df.head()

,text,ts_cnt,bank_id,del_flg,text_id,func_code,lchg_time,module_id,rcre_time,text_type,lchg_user_id,rcre_user_id,entity_cre_flg,updated_at
0,SILENT DG GENSET,0,1,N,DC09468,NaN,2010-10-31T17:00:41,DOCCR,2009-01-25T18:39:39,G,SUNNYM,SUPRIYAT,Y,2024-08-07 06:57:06.300
1,NaN,0,1,N,DC09468,NaN,2010-10-31T17:00:41,DOCCR,2009-01-25T18:39:39,E,SUNNYM,SUPRIYAT,Y,2024-08-07 06:57:06.300
2,SILENT DG SET,0,1,N,DC09469,NaN,2010-10-31T17:00:45,DOCCR,2009-01-25T18:45:14,G,SUNNYM,SUPRIYAT,Y,2024-08-07 06:57:06.300
3,NaN,0,1,N,DC09469,NaN,2010-10-31T17:00:45,DOCCR,2009-01-25T18:45:14,E,SUNNYM,SUPRIYAT,Y,2024-08-07 06:57:06.300
4,"COMPLETE WEIGHING MACHINETOTAL QTY:1 SET, H.S....",0,1,N,DC101348,NaN,2010-11-19T13:46:06,DOCCR,2010-06-23T12:17:09,G,SUNNYM,ANUSHAK,Y,2024-08-07 06:57:06.300

In [4]:
print(len(df))

416

In [5]:
df.to_csv('tf_txt_main_table_masked.csv', index=False)