In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_excel('branch.xlsx')
df.head()

,_airbyte_ab_id,_airbyte_emitted_at,bra_code,bra_iden,bra_init,bra_province,bra_bank_code,bra_corp_name,bra_sequ_numb,bra_sub_province,_airbyte_additional_properties,source_file_path,updated_at
0,8fef9a88-6571-457e-9ddd-c49ac198d510,2024-08-06 07:23:24.261,5128,E4,1007144,Province 4,1,AABUKHAIRENI,100,Damauli,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:03:06.983
1,6dce27e7-340f-42ae-8e8d-5c38acdc71c7,2024-08-06 07:23:24.261,5129,Q2,1007262,Province 4,1,AMARSINGH CHOWK,100,Pokhara,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:03:06.983
2,6c3abdd5-5f8b-477a-bab2-1e3e660d4f1e,2024-08-06 07:23:24.261,5130,E9,1007149,Province 4,1,AMRAPURI,100,Gaidakot,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:03:06.983
3,306ee84b-a10d-4897-8222-771bad6f065e,2024-08-06 07:23:24.261,5131,U0,1007300,Province 3,1,Anamnagar,100,Putalisadak,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:03:06.983
4,87d5be8a-faa6-4cfa-a11c-59add3b4124d,2024-08-06 07:23:24.261,5132,50,1007050,Province 5,1,ARGHAKHANCHI,100,Butwal,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:03:06.983

In [3]:
df = df.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)
df.head()

,bra_code,bra_iden,bra_init,bra_province,bra_bank_code,bra_corp_name,bra_sequ_numb,bra_sub_province,updated_at
0,5128,E4,1007144,Province 4,1,AABUKHAIRENI,100,Damauli,2024-08-07 07:03:06.983
1,5129,Q2,1007262,Province 4,1,AMARSINGH CHOWK,100,Pokhara,2024-08-07 07:03:06.983
2,5130,E9,1007149,Province 4,1,AMRAPURI,100,Gaidakot,2024-08-07 07:03:06.983
3,5131,U0,1007300,Province 3,1,Anamnagar,100,Putalisadak,2024-08-07 07:03:06.983
4,5132,50,1007050,Province 5,1,ARGHAKHANCHI,100,Butwal,2024-08-07 07:03:06.983

In [4]:
df.to_csv('branch_masked.csv', index=False)