In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('authorization_response_f039.xlsx')
df.head()

,_airbyte_ab_id,_airbyte_emitted_at,are_code,are_labe,_airbyte_additional_properties,source_file_path,updated_at
0,8aa33af8-fa1e-46b0-bc05-eb1d50bc3964,2024-08-06 07:23:24.261,0,Approved or completed successfully.,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:03:05.199
1,5f7bfbc3-d03d-4183-b95a-c5b7178790ca,2024-08-06 07:23:24.261,1,Refer to card Issuer.,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:03:05.199
2,2aef3699-5204-4d10-968f-d4ea2caf539a,2024-08-06 07:23:24.261,2,Refer to card Issuer - special Condition.,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:03:05.199
3,6e270c05-5011-45a9-81f8-fb2d6332a3fe,2024-08-06 07:23:24.261,3,Invalid Merchant.,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:03:05.199
4,07502859-845c-4c03-bd06-d65e9bf52943,2024-08-06 07:23:24.261,4,Do Not Honor,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:03:05.199

In [3]:
df = df.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)
df.head()

   are_code                                   are_labe              updated_at
0         0        Approved or completed successfully. 2024-08-07 07:03:05.199
1         1                      Refer to card Issuer. 2024-08-07 07:03:05.199
2         2  Refer to card Issuer - special Condition. 2024-08-07 07:03:05.199
3         3                          Invalid Merchant. 2024-08-07 07:03:05.199
4         4                               Do Not Honor 2024-08-07 07:03:05.199

In [4]:
df.to_csv('authorization_response_f039_masked.csv', index=False)