In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel('merchant_status.xlsx') 
df.head()

,_airbyte_ab_id,_airbyte_emitted_at,mst_code,mst_labe,_airbyte_additional_properties,source_file_path,updated_at
0,db8e07eb-2635-4fa8-8ee2-bc569f5d499f,2024-08-06 07:23:24.261,1,Active,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:05:08.806
1,c5c5ca4f-a6e4-48c0-8778-293a709898e0,2024-08-06 07:23:24.261,2,Blocked,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:05:08.806
2,478faea1-1fdd-4270-a9e6-2900c0efa8a0,2024-08-06 07:23:24.261,4,Cancelled,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:05:08.806
3,e3d82403-cf33-44bf-b12d-caa7ff5b4ac8,2024-08-06 07:23:24.261,5,Deactivated,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:05:08.806

In [5]:
df = df.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)
df.head()

   mst_code     mst_labe              updated_at
0         1       Active 2024-08-07 07:05:08.806
1         2      Blocked 2024-08-07 07:05:08.806
2         4    Cancelled 2024-08-07 07:05:08.806
3         5  Deactivated 2024-08-07 07:05:08.806

In [6]:
df.to_csv("merchant_status_masked.csv", index=False)