In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('account_type.xlsx')
df.head()
print(len(df))

4

In [3]:
df = df.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)
df.head()

   aty_code  aty_labe              updated_at
0         2    Credit 2024-08-07 07:00:49.067
1         3    Charge 2024-08-07 07:00:49.067
2         4  Pre-Paid 2024-08-07 07:00:49.067
3         1     Debit 2024-08-07 07:00:49.067

In [5]:
df.to_csv('account_type_masked.csv', index=False)