In [4]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_excel('gen_schm_parm_table.xlsx') 
df.head()

,SET_ID,TS_CNT,BANK_ID,DEL_FLG,EEFC_FLG,END_DATE,FCNR_FLG,LCHG_TIME,RCRE_TIME,RULE_CODE,...,ISO_USER_TOD_GRNT_EXCP_CODE,ISTISNA_WORK_PROGRESS_BACID,SCRIPT_VALUE_DATE_EXCP_CODE,RENT_RECOVERY_LOSSLINE_BACID,ACCT_LINKED_INVT_ID_EXCP_CODE,PARLL_ISTISNA_PRFT_ACCT_BACID,PARLL_IST_INVSTMNT_ACCT_BACID,PAST_DUE_PENAL_INT_COLL_BACID,OVERIDE_DEF_MIN_BAL_PARAM_EXCP,updated_at
0,ALL,494,1,N,N,2099-12-31T00:00:00.000000,N,2024-08-08T12:21:09,2014-06-05T14:12:00.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-29 04:59:46.921
1,ALL,7,1,N,N,2099-12-31T00:00:00.000000,N,2024-08-08T18:16:41,2014-01-22T12:38:52,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AIRTLPFCO,NaN,2024-08-29 04:59:46.921
2,ALL,11,1,N,N,2099-12-31T00:00:00.000000,N,2024-08-14T15:25:45,2016-10-04T12:40:29,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-29 04:59:46.921
3,ALL,8,1,N,N,2099-12-31T00:00:00.000000,N,2024-08-14T15:26:01,2021-03-26T15:36:51,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-29 04:59:46.921
4,ALL,2,1,N,N,2099-12-31T00:00:00.000000,N,2024-08-15T17:40:46,2024-08-13T14:30:39,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AIRRR001,NaN,2024-08-29 04:59:46.921

In [34]:
print(len(df['SCHM_CODE']))

1905

In [35]:
print(len(df['SCHM_CODE'].unique()))

1889

In [36]:
df_prod = pd.read_csv(r'D:\New folder (2)\masked_original\custom\products\schm_masked.csv')
df_prod.head(20)

   schm_code_t Schm_code                  Schm_Desc (Product)
0      PDSC286     SBGEN          UTTAM BACHAT KHATA-SADHARAN
1     PDSC1295     SBSTF                         SAVING STAFF
2      PDSC671     SBGED          UTTAM BACHAT KHATA-SADHARAN
3      PDSC863     SBLTS         UTTAM BABU NANI BACHAT KHATA
4       PDSC25     SBSVS                 SAVING STAFF VEHICLE
5      PDSC800     SD210  UTKRISTA BUNDLED SAHAJ BACHAT KHATA
6     PDSC1388     SBPRL          UTTAM BACHAT KHATA-SADHARAN
7      PDSC599     SBSHA     UTTAM SHAREHOLDER SAVING ACCOUNT
8      PDSC678     SBKBK          UTTAM BACHAT KHATA-SADHARAN
9     PDSC1118     SBNSB       UTTAM NARI BACHAT KHATA-SILVER
10     PDSC644     SBASL          UTTAM BACHAT KHATA-SADHARAN
11     PDSC514     SBDBS           UTTAM BACHAT KHATA- SILVER
12     PDSC521     ACCLS               ACCOUNT CLOSURE SCHEME
13     PDSC494     SSPRL               KARMASHIL BACHAT KHATA
14    PDSC1067     SBREM  UTTAM BAIDESHIK ROJGAR BACHAT KHATA
15    PDSC1261     STWFN                  STAFF WELFARE  FUND
16      PDSC75     NPPCL            PRE-PAID CARD DEPOSIT ACC
17    PDSC1504     SBLSV                 LIFE SAVINGS ACCOUNT
18     PDSC703     NVPPC            PRE-PAID CARD DEPOSIT ACC
19    PDSC1386     SBUSD             USD SUPER SAVING ACCOUNT

In [37]:
result = df.merge(df_prod, left_on='SCHM_CODE', right_on='Schm_code', how='left',suffixes=('_d', '_p')).head()
result.head(20)

,SET_ID,TS_CNT,BANK_ID,DEL_FLG,EEFC_FLG,END_DATE,FCNR_FLG,LCHG_TIME,RCRE_TIME,RULE_CODE,...,RENT_RECOVERY_LOSSLINE_BACID,ACCT_LINKED_INVT_ID_EXCP_CODE,PARLL_ISTISNA_PRFT_ACCT_BACID,PARLL_IST_INVSTMNT_ACCT_BACID,PAST_DUE_PENAL_INT_COLL_BACID,OVERIDE_DEF_MIN_BAL_PARAM_EXCP,updated_at,schm_code_t,Schm_code,Schm_Desc (Product)
0,ALL,494,1,N,N,2099-12-31T00:00:00.000000,N,2024-08-08T12:21:09,2014-06-05T14:12:00.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-29 04:59:46.921,PDSC778,FD009,FD INDIVIDUAL QTR < 2 YRS
1,ALL,7,1,N,N,2099-12-31T00:00:00.000000,N,2024-08-08T18:16:41,2014-01-22T12:38:52,NaN,...,NaN,NaN,NaN,NaN,AIRTLPFCO,NaN,2024-08-29 04:59:46.921,PDSC1354,TLPCR,TL-PFCOR PROJECT FINANCE
2,ALL,11,1,N,N,2099-12-31T00:00:00.000000,N,2024-08-14T15:25:45,2016-10-04T12:40:29,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-29 04:59:46.921,PDSC593,SD029,SAMAJIK SURAKCHYA BACHAT
3,ALL,8,1,N,N,2099-12-31T00:00:00.000000,N,2024-08-14T15:26:01,2021-03-26T15:36:51,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-29 04:59:46.921,PDSC1179,SD165,SOCIAL SEC. ACCT-FORWARD FEED
4,ALL,2,1,N,N,2099-12-31T00:00:00.000000,N,2024-08-15T17:40:46,2024-08-13T14:30:39,NaN,...,NaN,NaN,NaN,NaN,AIRRR001,NaN,2024-08-29 04:59:46.921,NaN,NaN,NaN

In [24]:
result.shape

(5, 284)