In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('payment_channel.xlsx')
df.head()

,_airbyte_ab_id,_airbyte_emitted_at,pca_code,pca_iden,pca_labe,_airbyte_additional_properties,source_file_path,updated_at
0,939401d6-7437-40a4-9842-c496c3b987aa,2024-08-06 07:23:24.261,1,ATM,ATM CHANNEL,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:05:09.695
1,9702a27d-6ff5-4164-b9f4-7e9e67e3189b,2024-08-06 07:23:24.261,2,BRANCH,BRANCH CHANNEL,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:05:09.695
2,4f41b759-02be-47a5-a80a-9c4d9e311969,2024-08-06 07:23:24.261,3,INTERNET,INTERNET CHANNEL,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:05:09.695
3,fca49d48-b0fd-4208-871b-f5b65f316945,2024-08-06 07:23:24.261,4,CALL,CALL CENTER CHANNEL,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:05:09.695
4,7358340c-ebbb-4124-81bc-ab70b161fe92,2024-08-06 07:23:24.261,5,POS,POS CHANNEL,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:05:09.695

In [4]:
df = df.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)
df.head()

   pca_code  pca_iden             pca_labe              updated_at
0         1       ATM          ATM CHANNEL 2024-08-07 07:05:09.695
1         2    BRANCH       BRANCH CHANNEL 2024-08-07 07:05:09.695
2         3  INTERNET     INTERNET CHANNEL 2024-08-07 07:05:09.695
3         4      CALL  CALL CENTER CHANNEL 2024-08-07 07:05:09.695
4         5       POS          POS CHANNEL 2024-08-07 07:05:09.695

In [5]:
df.to_csv('payment_channel_masked.csv', index=False)