In [1]:
import pandas as pd

In [6]:
df = pd.read_excel('customer.xlsx') 
df.head()

,_airbyte_ab_id,_airbyte_emitted_at,id,mode,active,cbs_id,gender,address,approved,language,...,last_modified_date,deleted_approved_date,has_security_question,last_modified_remarks,latest_changed_mobile,notification_language,latest_activity_remarks,_airbyte_additional_properties,source_file_path,updated_at
0,6a217085-3135-4346-8451-937db55103eb,2024-08-06 07:20:29.848,22,A,D,019898447,M,JUREPI GALLI-14 HN:239,D,NaN,...,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",Y,NaN,NaN,en,Customer Deletion Approved,NaN,s3a://ai360nica/data/bronze/mysql/mobile_banki...,2024-08-07 07:05:19.896
1,fcb56071-cccc-44a4-b042-9fa40fe29aef,2024-08-06 07:20:29.848,23,A,D,R00745672,M,DANFE MARGA,D,NaN,...,NaN,"Row(member0=Timestamp('2022-02-25 14:14:01'), ...",Y,NaN,NaN,en,Customer Deletion Approved,NaN,s3a://ai360nica/data/bronze/mysql/mobile_banki...,2024-08-07 07:05:19.896
2,0d57bfe3-6119-4c7d-a9bb-a1dbaab3a856,2024-08-06 07:20:29.848,24,A,D,R00858406,M,IMADOL,D,NaN,...,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",N,NaN,NaN,en,Customer Deletion Approved,NaN,s3a://ai360nica/data/bronze/mysql/mobile_banki...,2024-08-07 07:05:19.896
3,78353f8c-7f6d-487c-84f2-e108a6c11dd8,2024-08-06 07:20:29.848,25,A,D,R00108041,M,BATISPUTALI,D,NaN,...,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",Y,NaN,NaN,en,Customer Deletion Approved,NaN,s3a://ai360nica/data/bronze/mysql/mobile_banki...,2024-08-07 07:05:19.896
4,53ddb137-76db-4f05-ae8c-a80347505198,2024-08-06 07:20:29.848,26,A,D,R00842883,M,CHYASAL,D,NaN,...,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",Y,NaN,NaN,en,Customer Deletion Approved,NaN,s3a://ai360nica/data/bronze/mysql/mobile_banki...,2024-08-07 07:05:19.896

In [7]:
df = df.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)
df.head()

,id,mode,active,cbs_id,gender,address,approved,language,qr_login,ac_holder,...,delete_approved_by,edit_approved_date,last_modified_date,deleted_approved_date,has_security_question,last_modified_remarks,latest_changed_mobile,notification_language,latest_activity_remarks,updated_at
0,22,A,D,019898447,M,JUREPI GALLI-14 HN:239,D,NaN,N,Y,...,4.0,NaN,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
1,23,A,D,R00745672,M,DANFE MARGA,D,NaN,N,Y,...,5.0,NaN,NaN,"Row(member0=Timestamp('2022-02-25 14:14:01'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
2,24,A,D,R00858406,M,IMADOL,D,NaN,N,Y,...,4.0,NaN,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",N,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
3,25,A,D,R00108041,M,BATISPUTALI,D,NaN,N,Y,...,4.0,NaN,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
4,26,A,D,R00842883,M,CHYASAL,D,NaN,N,Y,...,4.0,NaN,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896

In [5]:
df["cbs_id"].value_counts()

cbs_id
019898447    5
R30102709    5
R01958668    3
R00381058    3
R00852531    3
            ..
R01865799    1
R01903611    1
019855901    1
R01483611    1
R50258393    1
Name: count, Length: 1233, dtype: int64

In [60]:
df.drop_duplicates(subset=['cbs_id'], inplace=True)
df["cbs_id"].value_counts()

cbs_id
019898447    1
R01418974    1
R50258449    1
R30102565    1
R22141251    1
            ..
019552829    1
019561139    1
019543293    1
019546239    1
R50258393    1
Name: count, Length: 1233, dtype: int64

In [61]:
df=  df.sample(frac=1, random_state=42).reset_index(drop=True)[:125]
print(df.shape)

(125, 50)

In [62]:
acct = pd.read_csv("../../crmuser/account/account_masked3.csv")
acct["address_line1"].head()

0     NAYATHIMI
1      LAXMIPUR
2       GARDUAL
3        KHANAR
4    TALCHIKHEL
Name: address_line1, dtype: object

In [63]:
acct.head(30)

,orgkey,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,gender,education,pan,email,...,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at,group_id
0,DLNIND4568821,Duman,Narayan,Neupane,1989-11-25T00:00:00.000000,INDIVIDUAL,M,NaN,PAN714271279,duman492@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND4568821
1,DLNIND7235296,Prajina,Devi,Maharjan,1971-05-05T00:00:00.000000,INDIVIDUAL,F,NaN,PAN503838478,prajina427@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND7235296
2,DLNIND1406504,Humacanta,Bipin,Thapa,2005-05-18T00:00:00.000000,INDIVIDUAL,M,NaN,PAN668645879,humacanta862@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND1406504
3,DLNLEG6218579,KHOTANG FOODS PVT. LTD.,NaN,NaN,2012-11-12T00:00:00.000000,LEGAL,NaN,NaN,PAN533918346,khotangfoods840@outlook.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNLEG6218579
4,DLNIND1255130,Adarsh,Bhakta,Lama,1993-02-28T00:00:00.000000,INDIVIDUAL,M,NaN,PAN331700070,adarsh904@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND1255130
5,DLNLEG8980703,KALINCHOWK REAL ESTATE PVT. LTD.,NaN,NaN,2003-06-16T00:00:00.000000,LEGAL,NaN,NaN,PAN922795324,kalinchowkrealestate968@outlook.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNLEG8980703
6,DLNIND1498614,Keith,Bikram,Rai,2001-08-19T00:00:00.000000,INDIVIDUAL,M,NaN,PAN182388122,keith826@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND1498614
7,DLNLEG9370940,HIMAL DAIRY PRODUCTS PVT. LTD.,NaN,NaN,2018-01-03T00:00:00.000000,LEGAL,NaN,NaN,PAN931349773,himaldairyproducts393@outlook.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNLEG9370940
8,DLNLEG8767566,EVEREST FOOTWEAR PVT. LTD.,NaN,NaN,1900-01-01T00:00:00.000000,LEGAL,NaN,NaN,PAN402958382,everestfootwear774@outlook.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNLEG8767566
9,DLNIND9286944,Veshraj,NaN,Mainali,1991-06-03T00:00:00.000000,INDIVIDUAL,M,NaN,PAN140168943,Veshraj.Mainali@dlytica.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND9286944
10,DLNIND3186116,Posraj,Bhakta,Dahal,1978-10-01T00:00:00.000000,INDIVIDUAL,M,NaN,PAN108679158,posraj514@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND3186116
11,DLNLEG5646672,MANASLU HOSPITALITY PVT. LTD.,NaN,NaN,2008-11-05T00:00:00.000000,LEGAL,NaN,NaN,PAN280369345,manasluhospitality709@outlook.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNLEG5646672
12,DLNIND2287753,Kumud,Kumari,Regmi,2020-08-14T00:00:00.000000,INDIVIDUAL,F,NaN,PAN167423035,kumud395@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND2287753
13,DLNLEG1290799,PYUTHAN LOGISTICS PVT. LTD.,NaN,NaN,2019-01-22T00:00:00.000000,LEGAL,NaN,NaN,PAN679940823,pyuthanlogistics659@outlook.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNLEG1290799
14,DLNIND5601256,Rajoj,Hari,Rana,2002-04-15T00:00:00.000000,INDIVIDUAL,M,NaN,PAN185594326,rajoj646@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND5601256
15,DLNLEG5919852,RUPA SAVINGS AND CREDIT COOPERATIVE LTD.,NaN,NaN,2017-02-07T00:00:00.000000,LEGAL,NaN,NaN,PAN723809886,rupasavingsandcreditcooperative845@outlook.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNLEG5919852
16,DLNIND2830344,Apsa,Devi,Adhikari,1983-06-09T00:00:00.000000,INDIVIDUAL,F,NaN,PAN755710007,apsa211@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND2830344
17,DLNLEG1598748,SAGARMATHA TRADERS PVT. LTD.,NaN,NaN,1900-01-01T00:00:00.000000,LEGAL,NaN,NaN,PAN606494169,sagarmathatraders388@outlook.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNLEG1598748
18,DLNIND7537080,Bashuki,Maan,Neupane,1990-01-18T00:00:00.000000,INDIVIDUAL,M,NaN,PAN479408245,bashuki760@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND7537080
19,DLNLEG3727146,LUMBINI INTERNATIONAL PVT. LTD.,NaN,NaN,2009-09-13T00:00:00.000000,LEGAL,NaN,NaN,PAN484574196,lumbiniinternational699@outlook.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNLEG3727146
20,DLNIND6814583,Krishala,Kumari,Sharma,1985-11-07T00:00:00.000000,INDIVIDUAL,F,NaN,PAN571982938,krishala796@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND6814583
21,DLNLEG5828268,MAHENDRANAGAR CONSULTANCY PVT. LTD.,NaN,NaN,1900-01-01T00:00:00.000000,LEGAL,NaN,NaN,PAN649400480,mahendranagarconsultancy369@outlook.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNLEG5828268
22,DLNIND2622447,Prashanta,Babu,Thapa,1966-05-06T00:00:00.000000,INDIVIDUAL,M,NaN,PAN288484684,Prashant.babu@dlytica.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND2622447
23,DLNIND4157875,Hrisheekesh,Dev,Khadka,1959-09-29T00:00:00.000000,INDIVIDUAL,M,NaN,PAN847554163,hrisheekesh654@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND4157875
24,DLNIND8212211,Tanushree,Devi,Regmi,1978-04-14T00:00:00.000000,INDIVIDUAL,F,NaN,PAN976589899,tanushree261@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND8212211
25,DLNIND3263104,Prasanga,Bishal,Neupane,1995-10-16T00:00:00.000000,INDIVIDUAL,M,NaN,PAN924788908,prasanga779@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND3263104
26,DLNIND3744151,Buddhiraj,Bibek,Thakuri,1988-02-17T00:00:00.000000,INDIVIDUAL,M,NaN,PAN143048430,buddhiraj664@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND3744151
27,DLNIND4269310,Bandana,Lal,Acharya,1997-08-30T00:00:00.000000,INDIVIDUAL,M,NaN,PAN473804509,bandana657@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND4269310
28,DLNIND5676264,Hina,Maya,Neupane,1943-04-05T00:00:00.000000,INDIVIDUAL,F,NaN,PAN792646871,hina652@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNIND5676264
29,DLNLEG6465924,BIRATNAGAR AUTOMOBILES PVT. LTD.,NaN,NaN,2000-12-27T00:00:00.000000,LEGAL,NaN,NaN,PAN952179235,biratnagarautomobiles930@outlook.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6,DLNLEG6465924

In [64]:
print(len(acct))

125

In [65]:
df["last_name"] = acct['cust_last_name'].values
df["first_name"] = acct['cust_first_name'].values
df["email_address"] = acct['email'].values
df["contact_no"] = acct['preferredphone'].values
df["mobile_number"] = acct['preferredphone'].values
df["cbs_id"] = acct['orgkey'].values
df["gender"] = acct['gender'].values
df["address"] = acct['address_line1'].values
df["middle_name"] = acct['cust_middle_name'].values

In [66]:
df[['mobile_number',"last_name",'contact_no','email_address','mobile_number','gender','first_name']].head(30)

,mobile_number,last_name,contact_no,email_address,mobile_number,gender,first_name
0,9833329213,Neupane,9833329213,duman492@gmail.com,9833329213,M,Duman
1,9892306612,Maharjan,9892306612,prajina427@gmail.com,9892306612,F,Prajina
2,9856817476,Thapa,9856817476,humacanta862@gmail.com,9856817476,M,Humacanta
3,9862720425,NaN,9862720425,khotangfoods840@outlook.com,9862720425,NaN,KHOTANG FOODS PVT. LTD.
4,9810012680,Lama,9810012680,adarsh904@gmail.com,9810012680,M,Adarsh
5,9837429964,NaN,9837429964,kalinchowkrealestate968@outlook.com,9837429964,NaN,KALINCHOWK REAL ESTATE PVT. LTD.
6,9850582125,Rai,9850582125,keith826@gmail.com,9850582125,M,Keith
7,9899755984,NaN,9899755984,himaldairyproducts393@outlook.com,9899755984,NaN,HIMAL DAIRY PRODUCTS PVT. LTD.
8,9863342315,NaN,9863342315,everestfootwear774@outlook.com,9863342315,NaN,EVEREST FOOTWEAR PVT. LTD.
9,9861674997,Mainali,9861674997,Veshraj.Mainali@dlytica.com,9861674997,M,Veshraj
10,9894972060,Dahal,9894972060,posraj514@gmail.com,9894972060,M,Posraj
11,9892029057,NaN,9892029057,manasluhospitality709@outlook.com,9892029057,NaN,MANASLU HOSPITALITY PVT. LTD.
12,9822084112,Regmi,9822084112,kumud395@gmail.com,9822084112,F,Kumud
13,9846479864,NaN,9846479864,pyuthanlogistics659@outlook.com,9846479864,NaN,PYUTHAN LOGISTICS PVT. LTD.
14,9813378723,Rana,9813378723,rajoj646@gmail.com,9813378723,M,Rajoj
15,9863483293,NaN,9863483293,rupasavingsandcreditcooperative845@outlook.com,9863483293,NaN,RUPA SAVINGS AND CREDIT COOPERATIVE LTD.
16,9857074601,Adhikari,9857074601,apsa211@gmail.com,9857074601,F,Apsa
17,9848709913,NaN,9848709913,sagarmathatraders388@outlook.com,9848709913,NaN,SAGARMATHA TRADERS PVT. LTD.
18,9891240526,Neupane,9891240526,bashuki760@gmail.com,9891240526,M,Bashuki
19,9884583727,NaN,9884583727,lumbiniinternational699@outlook.com,9884583727,NaN,LUMBINI INTERNATIONAL PVT. LTD.
20,9898516491,Sharma,9898516491,krishala796@gmail.com,9898516491,F,Krishala
21,9850585226,NaN,9850585226,mahendranagarconsultancy369@outlook.com,9850585226,NaN,MAHENDRANAGAR CONSULTANCY PVT. LTD.
22,9810288411,Thapa,9810288411,Prashant.babu@dlytica.com,9810288411,M,Prashanta
23,9855477634,Khadka,9855477634,hrisheekesh654@gmail.com,9855477634,M,Hrisheekesh
24,9874784265,Regmi,9874784265,tanushree261@gmail.com,9874784265,F,Tanushree
25,9874399937,Neupane,9874399937,prasanga779@gmail.com,9874399937,M,Prasanga
26,9877815103,Thakuri,9877815103,buddhiraj664@gmail.com,9877815103,M,Buddhiraj
27,9879375762,Acharya,9879375762,bandana657@gmail.com,9879375762,M,Bandana
28,9896750044,Neupane,9896750044,hina652@gmail.com,9896750044,F,Hina
29,9845095898,NaN,9845095898,biratnagarautomobiles930@outlook.com,9845095898,NaN,BIRATNAGAR AUTOMOBILES PVT. LTD.

In [56]:
df.to_csv("customer_masked_final.csv", index=False)