In [139]:
import pandas as pd
import numpy as np

In [164]:
df = pd.read_excel('limit_liab_table.xlsx')
df.head()

,liab,ts_cnt,bank_id,cust_id,del_flg,free_text,lchg_time,rcre_time,sanct_lim,crncy_code,...,secd_liab_as_on_purge_date,fruct_liab_as_on_purge_date,treasury_liab_from_children,bg_eff_liab_as_on_purge_date,drwng_power_as_on_purge_date,usr_maint_liab_on_purge_date,util_lim_nonfund_on_prg_date,user_maint_liab_from_children,usr_mnt_liab_frm_child_prg_dt,updated_at
0,0.0,14,1,04006533,N,NaN,2011-02-08T15:35:40,2010-06-22T16:48:35,15000000.0,NPR,...,0,0,NaN,0,0,0,0,0,0,2024-08-07 06:53:30.701
1,0.0,47,1,30091981,Y,NaN,2014-02-26T11:18:13,2013-07-15T10:59:29,36000000.0,NPR,...,0,0,NaN,0,0,0,0,0,0,2024-08-07 06:53:30.701
2,0.0,28,1,30091981,Y,REVOLVING,2014-02-26T11:18:27,2013-07-03T17:02:31,40000000.0,NPR,...,0,0,NaN,0,0,0,0,0,0,2024-08-07 06:53:30.701
3,0.0,48,1,30091981,Y,NaN,2014-02-26T18:35:00.000000,2013-07-03T17:06:48,1826000.0,NPR,...,0,0,NaN,0,0,0,0,0,0,2024-08-07 06:53:30.701
4,0.0,18,1,30091981,Y,NaN,2014-02-26T18:35:04,2013-07-03T17:24:13,36000000.0,NPR,...,0,0,NaN,0,0,0,0,0,0,2024-08-07 06:53:30.701

In [165]:
df.to_csv('limit_liab_table_masked.csv', index=False)