In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('pos_terminal_status.xlsx')
df.head()

,_airbyte_ab_id,_airbyte_emitted_at,pst_code,pst_labe,_airbyte_additional_properties,source_file_path,updated_at
0,431a9c04-da43-4101-8bbb-2cded7053cfb,2024-08-06 07:23:24.261,0,Inactive,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:05:12.107
1,0e96ddbe-c889-48cb-bd2b-497b27b4d8d2,2024-08-06 07:23:24.261,1,Active,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:05:12.107

In [4]:
df = df.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)
df.head()

   pst_code  pst_labe              updated_at
0         0  Inactive 2024-08-07 07:05:12.107
1         1    Active 2024-08-07 07:05:12.107

In [5]:
df.to_csv('pos_terminal_status_masked.csv', index=False)