In [52]:
import pandas as pd

In [200]:
df = pd.read_csv('general_acct_mast_table_masked.csv')
df.head()

,acid,cif_id,foracid,acct_num,acct_name,hashed_no,phone_num,acct_short_name,last_tran_id_cr,last_tran_id_dr,...,acct_cls_advice_printed,acct_cls_chrg_pend_verf,is_loan_agnst_cltrl_flg,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at,pan
0,AC10370877,DLNIND1406504,FA9627239668220084,272396682200,Humacanta Bipin Thapa,C1426B129652A7DB20182EAE18980F1B26D3B17E,+977-9856818453,Humacanta,DC36038,S16217819,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,PAN668645879
1,AC41672289,DLNIND4211643,FA3302344775994664,23447759946,Sriti Kumari Thapa,26B23D96EE13CDC789D531D4CF5839AD1EF73B75,+977-9899661272,Sriti,S16582958,NaN,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,PAN697945863
2,AC73584145,DLNIND4211643,FA5553585851915269,535858519152,Sriti Kumari Thapa,B7BDF9D665BAC86A625C32A5726764FB61251A9A,+977-9899661272,Sriti,S15445255,S16582958,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,PAN697945863
3,AC12345718,DLNLEG9334212,FA2582732553674743,827325536747,PALPA HEALTHCARE PVT. LTD.,FF377859485ED6FCE9A354D30C3A9744DE68421C,+977-9858187309,LUMBINI TRAVELS PVT. LTD.,DC6220,DC48035,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,PAN353089449
4,AC47235600,DLNLEG6576494,FA7171012596574289,710125965742,NaN,5654F613A38B19A7130D8A5F217260B16DE305B1,+977-9856247781,NEPAL AIRLINES LTD.,DC50574,S15502912,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,PAN813377590

In [201]:
df.shape

(4087, 188)

In [202]:
print(list(df['schm_code'].unique()))

['SD743', 'RD008', 'SD031', 'CALCY', 'CL506', 'FD009', 'SD149', 'CA031', 'SBLOD', 'SD201', 'SD138', 'CA023', 'SD120', 'SD122', 'SBDBS', 'SCQOD', 'SBCLM', 'SD020', 'SD193', 'FD020', 'FD054', 'SD175', 'INSCL', 'SBCAL', 'CA021', 'SD758', 'SCGOD', 'NAOVD', 'ALPNW', 'DLINS', 'SD107', 'SCGTL', 'SD135', 'RD057', 'SD081', 'RD055', 'FD502', 'FD065', 'FD073', 'CL001', 'FD066', 'RD053', 'FD701', 'NAETL', 'NARHL', 'FD501', 'SD015', 'PLEMI', 'PLOVD', 'SD162', 'FD503', 'DLFDR', 'FD901', 'FD807', 'RPODL', 'CCSBQ', 'CCEBM', 'DLSAM', 'FD569', 'ALNRS', 'RD006', 'RD051', 'PLM01', 'TLEBL', 'FD002', 'HOLON', 'SD006', 'SBSOC', 'ODAHL', 'SD210', 'SBKBK', 'SD089', 'PBLOQ', 'SD146', 'SD039', 'TLAHL', 'FD042', 'FD048', 'FD049', 'FD046', 'PBLDL', 'FD201', 'DLDEP', 'MARGN', 'CAFCY', 'FD098', 'CCEBQ', 'SCQDL', 'CCSBM', 'SBLDL', 'FD056', 'FD222', 'FD221', 'ODCOR', 'EBLDL', 'DLCAL', 'FD903', 'FD096', 'FD062', 'FD567', 'FD097', 'EBLDQ', 'FD063', 'DLFDM', 'RD056', 'TRLCR', 'FLNTF', 'TLDEP', 'HLEQF', 'DLNPR', 'TLCOR', 'PRBDQ', 'FD035', 'FD251', 'DLCOR', 'FD039', 'FD047', 'DPCOV', 'FD024', 'FD027', 'FD030', 'FD025', 'FD026', 'FD034', 'FD033', 'FD032', 'DLSTL', 'FD041', 'FD040', 'DLMSE', 'ACCLS', 'TLFXD', 'CL754', 'EQCOR', 'DLBDG', 'ALCRP', 'DLMCR', 'SLMCR', 'ETLCR', 'TRNRS', 'TRMCR', 'DMGLD', 'BGLCR', 'FD003', 'DLSST', 'TDGEN', 'BGMSE', 'TRSME', 'ALCOR', 'BGMCR', 'NVPPC', 'ODSTF', 'SD001', 'SD023', 'HLST2']

In [203]:
df_prod = pd.read_csv(r'D:\New folder (2)\masked_original\custom\products\schm_masked.csv')
df_prod.head(20)

   schm_code_t Schm_code                  Schm_Desc (Product)
0      PDSC183     SBGEN           UTTAM BACHAT KHATA-GENERAL
1      PDSC531     SBSTF                         SAVING STAFF
2     PDSC1442     SBGED           UTTAM BACHAT KHATA-GENERAL
3     PDSC1215     SBLTS         UTTAM BABU NANI BACHAT KHATA
4     PDSC1072     SBSVS                 SAVING STAFF VEHICLE
5     PDSC1697     SD210  UTKRISTA BUNDLED SAHAJ BACHAT KHATA
6      PDSC155     SBPRL           UTTAM BACHAT KHATA-GENERAL
7       PDSC42     SBSHA     UTTAM SHAREHOLDER SAVING ACCOUNT
8     PDSC1749     SBKBK           UTTAM BACHAT KHATA-GENERAL
9     PDSC1087     SBNSB       UTTAM NARI BACHAT KHATA-SILVER
10     PDSC234     SBASL           UTTAM BACHAT KHATA-GENERAL
11     PDSC782     SBDBS           UTTAM BACHAT KHATA- SILVER
12    PDSC1505     ACCLS               ACCOUNT CLOSURE SCHEME
13    PDSC1314     SSPRL               KARMASHIL BACHAT KHATA
14     PDSC793     SBREM  UTTAM BAIDESHIK ROJGAR BACHAT KHATA
15    PDSC1768     STWFN                  STAFF WELFARE  FUND
16    PDSC1316     NPPCL            PRE-PAID CARD DEPOSIT ACC
17    PDSC1454     SBLSV                 LIFE SAVINGS ACCOUNT
18     PDSC916     NVPPC            PRE-PAID CARD DEPOSIT ACC
19     PDSC830     SBUSD             USD SUPER SAVING ACCOUNT

In [204]:
df_result = pd.merge(df, df_prod, how='left', left_on='schm_code',right_on='Schm_code',suffixes=('_p', '_a'))
df_result.head()

,acid,cif_id,foracid,acct_num,acct_name,hashed_no,phone_num,acct_short_name,last_tran_id_cr,last_tran_id_dr,...,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at,pan,schm_code_t,Schm_code,Schm_Desc (Product)
0,AC10370877,DLNIND1406504,FA9627239668220084,272396682200,Humacanta Bipin Thapa,C1426B129652A7DB20182EAE18980F1B26D3B17E,+977-9856818453,Humacanta,DC36038,S16217819,...,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,PAN668645879,PDSC1457,SD743,UTKRISTA SUNYA MAUJAT BACHAT KHATA
1,AC41672289,DLNIND4211643,FA3302344775994664,23447759946,Sriti Kumari Thapa,26B23D96EE13CDC789D531D4CF5839AD1EF73B75,+977-9899661272,Sriti,S16582958,NaN,...,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,PAN697945863,PDSC1353,RD008,UTKRISTA MASIK SAGARMATHAHHEP KHATA
2,AC73584145,DLNIND4211643,FA5553585851915269,535858519152,Sriti Kumari Thapa,B7BDF9D665BAC86A625C32A5726764FB61251A9A,+977-9899661272,Sriti,S15445255,S16582958,...,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,PAN697945863,PDSC343,SD031,UTTAM BACHAT KHATA-GENERAL
3,AC12345718,DLNLEG9334212,FA2582732553674743,827325536747,PALPA HEALTHCARE PVT. LTD.,FF377859485ED6FCE9A354D30C3A9744DE68421C,+977-9858187309,LUMBINI TRAVELS PVT. LTD.,DC6220,DC48035,...,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,PAN353089449,PDSC1692,CALCY,CURRENT A/C LOCAL CY
4,AC47235600,DLNLEG6576494,FA7171012596574289,710125965742,NaN,5654F613A38B19A7130D8A5F217260B16DE305B1,+977-9856247781,NEPAL AIRLINES LTD.,DC50574,S15502912,...,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,PAN813377590,PDSC744,CL506,CALL DEPOSIT-BFIS

In [205]:
df_result.shape

(4087, 191)

In [206]:
df['schm_code'] = df_result['schm_code_t'].values

In [188]:
df.shape

(4087, 188)

In [207]:
df_PSDC = df[df["schm_code"].astype(str).str.startswith("PDSC")]
df_PSDC.head()

,acid,cif_id,foracid,acct_num,acct_name,hashed_no,phone_num,acct_short_name,last_tran_id_cr,last_tran_id_dr,...,acct_cls_advice_printed,acct_cls_chrg_pend_verf,is_loan_agnst_cltrl_flg,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at,pan
0,AC10370877,DLNIND1406504,FA9627239668220084,272396682200,Humacanta Bipin Thapa,C1426B129652A7DB20182EAE18980F1B26D3B17E,+977-9856818453,Humacanta,DC36038,S16217819,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,PAN668645879
1,AC41672289,DLNIND4211643,FA3302344775994664,23447759946,Sriti Kumari Thapa,26B23D96EE13CDC789D531D4CF5839AD1EF73B75,+977-9899661272,Sriti,S16582958,NaN,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,PAN697945863
2,AC73584145,DLNIND4211643,FA5553585851915269,535858519152,Sriti Kumari Thapa,B7BDF9D665BAC86A625C32A5726764FB61251A9A,+977-9899661272,Sriti,S15445255,S16582958,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,PAN697945863
3,AC12345718,DLNLEG9334212,FA2582732553674743,827325536747,PALPA HEALTHCARE PVT. LTD.,FF377859485ED6FCE9A354D30C3A9744DE68421C,+977-9858187309,LUMBINI TRAVELS PVT. LTD.,DC6220,DC48035,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,PAN353089449
4,AC47235600,DLNLEG6576494,FA7171012596574289,710125965742,NaN,5654F613A38B19A7130D8A5F217260B16DE305B1,+977-9856247781,NEPAL AIRLINES LTD.,DC50574,S15502912,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,PAN813377590

In [208]:
df_PSDC.shape

(3740, 188)

In [209]:
psdc = df_PSDC[["schm_code","schm_type"]]
psdc.head()

  schm_code schm_type
0  PDSC1457       SBA
1  PDSC1353       SBA
2   PDSC343       SBA
3  PDSC1692       ODA
4   PDSC744       SBA

In [210]:
psdc.shape

(3740, 2)

In [211]:
psdc = psdc.iloc[:347]
psdc.shape

(347, 2)

In [212]:
df_not_psdc = df[~df['schm_code'].astype(str).str.startswith('PDSC')]

In [213]:
df_not_psdc.shape

(347, 188)

In [214]:
df_not_psdc["schm_code"] = psdc["schm_code"].values
df_not_psdc["schm_type"] =psdc["schm_type"].values

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_31348\3758010842.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_psdc["schm_code"] = psdc["schm_code"].values
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_31348\3758010842.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_not_psdc["schm_type"] =psdc["schm_type"].values

In [217]:
result  = pd.concat([df_not_psdc, df_PSDC], ignore_index=True)
result.shape

(4087, 188)

In [218]:
df.to_csv('general_acct_mast_table_masked10.csv', index=False)

In [ ]:
df_tda = df[(df["schm_type"]== "TDA") & (df["schm_code"].notna())]
df_tda[["schm_type","schm_code"]].head()

    schm_type schm_code
38        TDA  PDSC1390
39        TDA  PDSC1396
40        TDA  PDSC1396
116       TDA  PDSC1396
117       TDA  PDSC1396

In [223]:
df_tda[["schm_type","schm_code"]].to_csv('_tda.csv', index=False)