In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_excel('reference_code_table.xlsx')
df.head()

,TS_CNT,BANK_ID,DEL_FLG,REF_CODE,REF_DESC,LCHG_TIME,RCRE_TIME,LCHG_USER_ID,RCRE_USER_ID,REF_REC_TYPE,LONG_REF_CODE,updated_at
0,0.0,1,N,GNSSP,GYANDAN NIRMAN SEWA AND SUPPLIERS PRIVATE LIMITED,2024-08-01T16:06:17,2024-08-01T16:06:17,SB3610,SB3610,CZ,NaN,2024-08-29 05:00:48.773
1,0.0,1,N,HUBLR,HIMALAYA URJA BIKAS CO. LTD. RIGHT SHARE,2024-08-07T13:57:41,2024-08-07T13:57:41,RS3764,RS3764,BF,NaN,2024-08-29 05:00:48.773
2,0.0,1,N,VWCPL,VISWA CONSULT PVT LTD,2024-08-08T17:43:42,2024-08-08T17:43:42,RS3764,RS3764,CZ,NaN,2024-08-29 05:00:48.773
3,0.0,1,N,AKJCR,ANKHU KHOLA JALVIDHYUT CO LTD RIGHT SHARE,2024-08-11T10:26:12,2024-08-11T10:26:12,SB3610,SB3610,BF,NaN,2024-08-29 05:00:48.773
4,0.0,1,N,ICCPL,IDEAL CARGO AND COURIER PVT LTD,2024-08-14T09:57:58,2024-08-14T09:57:58,SB3610,SB3610,CZ,NaN,2024-08-29 05:00:48.773

In [4]:
df.shape

(24255, 12)

df = df.drop_duplicates(subset=['REF_CODE'])
df.shape

In [ ]:
# df = df.drop_duplicates(subset=['REF_CODE'])
# df.shape

(22032, 12)

In [8]:
df.to_csv('reference_code_table_masked.csv', index=False)

In [10]:
df.to_csv('reference_code_table_________________.csv', index=False)