In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel('bin_type.xlsx')
df.head()

,_airbyte_ab_id,_airbyte_emitted_at,bty_code,bty_iden,bty_labe,_airbyte_additional_properties,source_file_path,updated_at
0,e15df2c2-1b47-4345-887c-40e02b52b201,2024-08-06 07:23:24.261,1,Nat,National,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:03:05.998
1,8ed9c208-27b0-4127-9e57-5b28ffff841c,2024-08-06 07:23:24.261,2,Int,International,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:03:05.998
2,071ac219-4f4c-4bf4-805b-af36af18707d,2024-08-06 07:23:24.261,3,On Us,On Us,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:03:05.998
3,65f3601e-7c83-402d-bf86-f74ed903dbe4,2024-08-06 07:23:24.261,4,Network,Network,NaN,s3a://ai360nica/data/bronze/oracle/eftswitch/M...,2024-08-07 07:03:05.998

In [5]:
df = df.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)
df.head()

   bty_code bty_iden       bty_labe              updated_at
0         1      Nat       National 2024-08-07 07:03:05.998
1         2      Int  International 2024-08-07 07:03:05.998
2         3    On Us          On Us 2024-08-07 07:03:05.998
3         4  Network        Network 2024-08-07 07:03:05.998

In [6]:
df.to_csv('bin_type_masked.csv', index=False)