In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('sol_group_control_table.xlsx')
df.head()

,seed,ts_cnt,bank_id,del_flg,pwd_key,dc_alias,ft_in_use,iso_bacid,lchg_time,minor_age,...,futdated_out_clr_ins_excp_code,img_acc_code_for_exp_signature,implemented_tier_base_rate_flg,insuf_cum_policy_amt_excp_code,num_of_days_allwd_for_tran_rev,td_discount_int_for_flow_shift,tran_to_external_sol_acct_excp,treat_prin_int_sep_for_chrgoff,trea_ref_not_entered_excp_code,updated_at
0,0,47973,1,N,NaN,DC,N,IBAC,2024-08-23T21:11:48,18,...,NaN,NaN,N,SU2,0,Y,TE1,Y,TR3,2024-08-29 05:31:09.839

In [3]:
print(len(df))

1

In [3]:
df.to_csv('sol_group_control_table_masked.csv', index=False)